.boardContainer {
  padding: 2rem;
  display: grid;
  grid-template-columns: 100px repeat(9, 65px) 100px;
  grid-template-rows: 100px repeat(9, 65px) 100px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  justify-content: center;
}

.filler {
  border: none;
  grid-column: span 9;
}
