.player-control-container {
  width: 35%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  background-color: #fff;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.35);
  margin: 0 auto;
  margin-top: 0.5rem;
  align-items: center;
  justify-content: center;
}

.player-control-wrapper {
  display: flex;
}
