.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  overflow: hidden;
  font-size: 0.7rem;
  text-align: center;
  pointer-events: none;
  background-color: var(--text-color);
  color: black;
}

.tile-title {
  padding: 0;
  margin: 0;
}

.tile-image {
  width: 80%;
  aspect-ratio: 1;
  padding: 2px;
}

.image-left {
  height: 80%;
  rotate: 90deg;
}

.image-right {
  height: 80%;
  rotate: -90deg;
}

.strip {
  width: 100%;
  height: 15px;
  border: 1px solid black;

  margin-bottom: 10px;
}

.top {
  rotate: 180deg;
  overflow: visible;
}

.left {
  flex-direction: row-reverse;
}

.right {
  flex-direction: row;
}

.corner-rotate {
  rotate: 45deg;
}

.strip-side {
  height: 100%;
  width: 15px;

  margin-bottom: 0px;
}

.strip-red {
  background-color: red;
}

.strip-yellow {
  background-color: yellow;
}

.strip-green {
  background-color: green;
}

.strip-blue {
  background-color: blue;
}

.strip-brown {
  background-color: brown;
}

.strip-cyan {
  background-color: cyan;
}

.strip-magenta {
  background-color: magenta;
}

.strip-orange {
  background-color: orange;
}

.text-left {
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.text-right {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  rotate: 180deg;
}

.marker-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;
}

.player-marker {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 1px;
}

.left-mark {
  margin: 0;
  rotate: 90deg;
  margin-left: 10rem;
}

.right-mark {
  margin: 0;
  rotate: -90deg;
  margin-right: 10rem;
}

.top-mark {
  margin: 0;
  margin-bottom: 10rem;
}

.corner-mark {
  margin: 0;
}

.both-marker {
  display: block;
}

.p1-owned {
  background-color: hsl(15, 72%, 90%);
}

.p2-owned {
  background-color: hsl(240, 100%, 90%);
}
